@media all and (max-width: 400px) {
    #main_menu, #delivery {
        display: none;
    }
    #m_delivery, #m_burger, #m_menu {
        display: block; 
    }
    header {
        height: 57px;
    }
    #h_inner {
        position: relative;
    }
    #h_logo {
        width: 44px;
        height: 43px;
        float: none;
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #m_delivery {
        width: 44px;
        height: 44px;
        background-color: #E72925;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
    }
    #m_delivery_img {
        width: 100%;
        height: 100%;
        position: relative;
    }
    #m_delivery_img > a {
        width: 35px;
        height: 35px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #m_burger {
        width: 30px;
        height: 26px;
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    #burger_box {
        width: 100%;
        height: 100%;
        position: relative;   
    }
    #burger_box > span {
        width: 100%;
        height: 5px;
        border-radius: 25px;
        position: absolute;
        background-color: #333;
    }
    #burger_box > span:first-child{
        top: 0;
    }
    #burger_box > span:nth-child(2){
        top: 50%;
        transform: translateY(-50%);
    }
    #burger_box > span:last-child{
        bottom: 0;
    }
    #m_close {
        width: 30px;
        height: 26px;
        position: absolute;
        top: 3%;
        right: 9%;
        cursor: pointer;
    }
    #m_close_box {
        width: 100%;
        height: 100%;
        position: relative;
    }
    #m_close_box > span {
        width: 100%;
        height: 5px;
        border-radius: 25px;
        top: 50%;
        position: absolute;
        background-color: #333;
    }
    #m_close_box > span:first-child {
        transform: translateY(-50%) rotate(45deg);
    }
    #m_close_box > span:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }
    #m_menu {
        width: 100%;
        height: 100%;
        padding: 24px;
        padding-top: 65px;
        background-color: #ffffff;
        position: fixed;
        right: -100%;
    }
    #m_menu > ul > li {
        width: 100%;
        height: 56px;
        padding: 12px;
        overflow: hidden;
        position: relative;
    }
    #m_menu > ul {
        margin-top: 30px;
    }
    #m_menu > ul > .open {
        height: auto;
    }
    .open .m_next_icon > img {
        transform: rotate(90deg);
    }
    #m_menu > ul > li > a {
        position: relative;
        font-size: 20px;
    }
    .m_next_icon {
        width: 19px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    .m_next_icon > img {
        transition: all 0.7s;
    }
    .m_sub_menu {
        padding-top: 15px;
    }
    .m_sub_menu > li {
        margin-bottom: 8px;
    }
    .m_sub_menu > li > a {
        font-size: 14px;
    }
    .m_sub_menu > li > a:hover {
        color: rgba(0, 0, 0, 32%);
    }
    .m_menu_line {
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 32%);
        position: absolute;
        bottom: 0;
    }
    .main_bg {
        display: none;
    }
    /* section1 시작 */
    #sec1 {
        display: none;
    }
    #sec1_tab_swiper {
        height: auto;
        display: block;
        margin-top: 30px;
    }
    .swiper-button-prev, .swiper-button-next {
        display: none;
    }
    #sec1_tab_swiper .swiper-slide:nth-child(2),
    #sec1_tab_swiper .swiper-slide:nth-child(3),
    #sec1_tab_swiper .swiper-slide:nth-child(4) {
        margin-top:26px;
    }
    #sec1_tab_swiper .swiper-slide {
        height: auto;
    }
    
    /* section2 시작 */
    #sec2 {
        background-color: #D52300;
        height: 700px;
        padding: 0 20px;
    }
    #sec2 > .container_1200 {
        display: block;
    }
    #sec2_text > p:first-child {
        display: none;
    }
    #sec2_left {
        width: 100%;
        padding: 30px 0 0 0;
    }
    #sec2_left > video {
        width: 100%;
    }
    #sec2_text {
    }
    #sec2_left, #sec_right {
        float: none;
    }
    #sec2_right {
        width: 100%;
        padding: 0 0 50px 0;
    }
    #m_sec2_img {
        width: 200px;
        margin: 0 auto;
        margin-bottom: 30px;
        display: block;
    }
    #sec2_img {
        display: none;
    }
    #sec2_text_box {
        margin-top: 50px;
        text-align: center;
    }
    #sec2_text_box > p:nth-child(1) {
        display: block;
        margin-bottom: 15px;
    }
    #sec2_text_box > p:nth-child(3), #sec2_text_box > p:nth-child(4) {
        float: none;
    }
    #sec2_text_box > p:nth-child(3) {
        margin-right: 0;
    }

    #bg_right_icon {
        right: -520px;
        }
    #bg_left_icon1 {
        width: 350px;
        left: -150px;
    }
    #bg_left_icon2 {
        left: -200%;
    }

    /* section3 시작 */

    #container_1500 > .swiper-button-prev,
    #container_1500 > .swiper-button-next {
        display: none;
    }

    #sec3_bg {
        transform: rotateX(90deg);
    }
    
    #tab_header > h1, #tab_menu {
        float: none;
    }
    #tab_header {
        text-align: center;
    }
    #tab_header > h1 {
        margin-left: 0;
    }
    #tab_menu {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    #tab_menu > li {
        width: 100px;
        margin-right: 0;
    }
    #tab_menu > li > a:hover::after {
        width: 0;
    }
    #tab_menu > li:nth-child(3), #tab_menu > li:nth-child(4) {
        display: none;
    }
    #sec3  .container_1200 {
        padding: 100px 0;
    }
    #tab_con {
        margin-top: 100px;
        height: 330px;
    }

    /* section5 시작 */
    #sec5 > .container_1200 {
        padding: 0 10px;
    }
    .box_inner  {
        width: 100%;
        height: 134px;
        margin: 0;
        padding: 30px 50px;
    }
    #sec5_box {
        display: block;
    }
    #sec5_box > div {
        width: 100%;
        height: 134px;
        margin: 50px 0;
    }
    #sec5_box > div:hover {
        margin-top: 50px;
    }
    .sec5_icon {
        width: 57px;
        height: 91px;
        float: left;
    }
    .sec5_icon > img {
        height: 51px;
    }
    .sec5_icon > h3 {
        font-size: 13px;
    }
    .box_inner > p {
        margin-top: 10px;
    }
    #sec5_left p:first-of-type > br {
        display: none;
    }
    #sec5_btn {
        width: 50%;
        height: 38px;
        margin-top: 10px;
        border-radius: 8px;
    }
    #sec5_btn > a {
        font-size: 13px;
        line-height: 38px;
    }

    /* footer 시작 */
    footer {
        padding: 24px 10px;
    }
    #footer_left, #footer_right {
        float: none;
    }
    #footer_right {
        margin-top: 20px;
    }
}